/* .post{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75vh;
    display: flex;
}

.post-feed{
    width: 50%;
    height: 100%;
}

.post-detail{

} */